body{
	font-family: 'Lato', sans-serif;
	text-align:center;
    height: 100%;
}

form{text-align:center;}
header{
    text-align: center;
    font-size: 2em;
    margin-bottom: 50px;
}
input{
	display: inline-block;font-family: inherit;font-size: 2em;text-align: center; transition: 0.3s ease-in-out;
    border-radius:15px;
    padding:5px;
    border-color:#dadada;
}
input:hover{
    color: #010101;
    transition: 0.3s ease-in-out;
}

#result{
    font-size: 2em;
    margin-left:0px;
    margin-right:0px;
    padding: 5px;
}
.tudo{padding:50px;border-radius: 50px;width: 50%;margin:auto;}

.zap{
    position: fixed;
    bottom: 100px;
    right: 100px;
    z-index: 100;
}
footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width:100%;
}